@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    /* background-color: #fff2d2; */
    background-color: black;
    color: #fff;
    padding-bottom: 5vh;
}
/* ------------------NAVIGATION------------------ */
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.navbar{
    position: fixed;
    left:0;
    z-index: 10;
    width: 96%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 2%;
    transition: color .5s;
    transition: position 2s;
}
.sticky{
    width: 96%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    /* color: #000; */
    left:0;
    z-index: 10;
}
.menu-icon{
    width: 2rem;
    filter: invert(100%);
}
.menu-icon-container{
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: .5rem;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
    /* margin-right: 30px; */
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1.5rem;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
nav ul li a:hover{
    transition: text 10s;
    text-decoration: underline;
}
/* ------------------HEADER------------------ */
.header-image{
    width: 100%;
    animation: panorama-move 50s infinite linear;
    transform:scale(2.5) translateX(-25%);
}
@keyframes panorama-move {
    0%{
        transform:scale(2.5) translateX(25%);
    }
    50%{
        transform:scale(2.5) translateX(-25%);
    }
    100%{
        transform:scale(2.5) translateX(25%);
    }
}
.header-container{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #fbd62d;
    margin-bottom: 2%;
}
.header-container img{
    pointer-events: none;
}
.header-logo-container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 15px; */
}
.header-logo{
    width: 100%;
    max-width: 25%;
    position: absolute;
    --headerLogoShadowColor: #fbd62d;
    -webkit-filter: drop-shadow(0px 0px 10px var(--headerLogoShadowColor));
    filter: drop-shadow(0px 0px 10px var(--headerLogoShadowColor));
}
/* ------------------FOOTER------------------ */
.footer{    
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: .75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    color: #fff;
    text-decoration: none;
    font-size: .75rem;
}
.footer a:hover{
    text-decoration: underline;
}
.copyright{
    font-family: 'Lobster', cursive;
    font-size: 1rem;
}
/* ----------------------PAGE TITLE------------------------ */
.page-title{
    display: flex;
    font-family: 'Lobster', 'sans-serif';
    text-align: center;
    justify-content: center;
    align-items: center;
}
.page-title::after{
    margin-left: 2%;
    content: '';
    height: 1px;
    width: 20%;
    background: linear-gradient(to right, #fff 60%, #fbd62d 90%);
}
.page-title::before{
    margin-right: 2%;
    content: '';
    height: 1px;
    width: 20%;
    background: linear-gradient(to left, #fff 60%, #fbd62d 90%);
}
.container{
    padding: 2% 8% 0 8%;
    box-sizing: border-box;
    overflow: hidden;
}


/* ------------------MEDIA QUERIES------------------ */
@media only screen and (max-width:800px){
    html{
        font-size: 12px;
    }
    .navbar{
        background-color: rgba(0,0,0,0.5);
    }
    nav ul{
        width: 100%;
        background: rgba(0,0,0,.75);
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 2;
        /* margin-right: 0; */
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1.5rem;
    }
    nav ul li a{
        color: #fff;
    }
    nav ul li:last-child{
        margin-right: 1.5rem;
    }
    .menu-icon-container{
        display: flex;
    }
    #menuList{
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .menuClicked{
        background-color: #000;
    }
    .redir-outer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media only screen and (max-width:300px){
    html{
        font-size: 7px;
    }
}