/* ------------------REDIRECT BUTTONS------------------ */
.redir-img{
    width: 50%;
    max-width: 400px;
    cursor: pointer;
    border-radius: 10%;
    border: 1px solid rgba(255, 255, 255, .7);
    --buttonShadowColor: #fbd62d;
    /* -webkit-filter: drop-shadow(0px 0px 2px var(--buttonShadowColor));
    filter: drop-shadow(0px 0px 2px var(--buttonShadowColor)); */
    transition: transform .5s;
    background-color: rgba(0,0,0,.7);
}
.redir-img:hover{
    transform: scale(1.1);
}
.redir-inner-container { 
    /* border: 3px dashed yellow; */
    text-align: center;
    color: #fff;
}

.redir-outer-container{
    display: flex;
    justify-content: space-evenly;
    /* gap: 12.5%; */
}
@media only screen and (max-width:800px){
    .redir-img{
        width: 30%;
    }
    .redir-inner-container{
        margin-bottom: 5%;
    }
}
/* ------------------TEXT CONTAINER------------------ */
.text-container{
    padding: 2% 8%;
}
.text-container p{
    margin-top: .5rem
}
.text-container h1{
    font-size: 2rem;
    margin-bottom: 1%;
    font-family: 'Lobster', 'sans-serif';
}
.text-container > div{
    margin-bottom: 3%;
}
/* .text-container button{
    padding: 1%;
    background-color: #fbd62d;
    color: #000;
    margin: 2% 0;
}
.text-container button:hover{
    background-color: #bba232;
} */
.button-48 {
  border-radius: 3px;
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1%;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  border-radius: 3px;
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #fbd62d;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}
/* .button-48:hover {
    text-shadow:
    -.1px -.1px 0 black,
    .1px -.1px 0 black,
    -.1px .1px 0 black,
    .1px .1px 0 black;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-weight: 550;
} */
.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #fbd62d;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
iframe{
    margin-top: 2%;
    width: 50%;
    height: 350px;
}
.text-container a, .text-container a:visited{
    color: #fbd62d;
}
@media screen and (max-width: 800px){
    .text-container{
        text-align: center;
    }
    iframe{
        width: 100%;
        height: 350px;
    }
    .text-container h1{
        font-size: 1.5rem;
    }
    .text-container h1::after, .text-container h1::before{
        content: "──";
        margin: 0 1%;
    }
}