@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.text-container ul{
    display: inline-block;
    list-style: none;
    margin-left: 5rem;
}
.text-container ul li{
    list-style: none;
}

.text-container ul li::before{
    content: '►   ';
    display: inline;
}
date{
    /* font-size: 1.5rem; */
    font-weight: 600;
    color: #fbd62d;
}
red{
    color: red;
    line-height: 1.5rem;
}
@media only screen and (max-width:800px){
    /* add ◄ to the end of each list */
    .text-container ul li::after{
        content: '   ◄';
        display: inline;
    }
    .text-container ul{
        display: inline-block;
        list-style: '►   ';
        margin-left: 2rem;
        text-align: center;
    }
}